<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css"> <!-- Linking our css -->
        <link rel="icon" href="/img/weather.png">
        
    </head>
    <body>

        <div class="main-contet">
            {{>header}}

             <img class="portrait" src="/img/lechuza.jpg" alt="img">
        </div>
      
       <br>
       {{>footer}}
    </body>
</html>